*
!*/
!/.gitignore
!/Makefile
!/README.md
!/init.sh
!/nemu/
!/nexus-am/
!/nanos-lite/
!/navy-apps/
!/npc/
# 保留projects/下的所有一级子目录
!/projects/*/

# 保留所有项目中的关键子目录及内容
!/projects/*/csrc/
!/projects/*/csrc/*
!/projects/*/constr/
!/projects/*/constr/*
!/projects/*/vsrc/
!/projects/*/vsrc/*

/fceux-am/
/nvboard/